In [1]:
import datetime
import pandas as pd
import numpy as np
from datascience import *

# read in schools table
school_df = pd.read_pickle('../geocoding_schools/cleaned_school_list.pk1')
school_df

now = datetime.datetime.now()

In [2]:
#map all schools
import random
from arcgis.gis import GIS
#from arcgis.geocoding import geocoding
my_gis = GIS()
seattle = my_gis.map("Seattle, WA")

geocodes = school_df['geocode']
name = school_df['School']

i = 0
for school in geocodes:
    try:
        seattle.draw(school['location'], {"title" : name[i], "content" : school['address']},
                     {"type": "esriSMS","style": "esriSMSCircle","color": [0,255,0,255],"size": 6,
                      "angle": 0,"xoffset": 0,"yoffset": 0,
                      "outline": {"color": [0,0,0,255],"width": 0}})
    except:
        print("No address for:", (name[i]))
    i+=1
       
#seattle

No address for: Skills Center
No address for: BRIDGES

In [3]:
# get late bus data
late_bus_df = pd.read_pickle('../scraping_bus_data/bus_data.pk1')
late_bus_select_df  = late_bus_df[19:38]
late_bus_select_df

,Month,Day,Year,Bus Number,School,To/From,Time,Unit,Data Taken Month,Data Taken Day,Data Taken Year,Data Taken Hour,Data Taken Minute
19,December,21,2018,3,Adams,from,20,minutes,1,1,2019,21,6
20,December,21,2018,120,Loyal Heights,from,20,minutes,1,1,2019,21,6
21,December,21,2018,630,Queen Anne,from,20,minutes,1,1,2019,21,6
22,December,21,2018,148,Northgate,from,10,minutes,1,1,2019,21,6
23,December,21,2018,799,Gatzert,from,120,minutes,1,1,2019,21,6
24,December,21,2018,462,Washington,from,60,minutes,1,1,2019,21,6
25,December,21,2018,792,Kimball,from,120,minutes,1,1,2019,21,6
26,December,21,2018,402,Cleveland,from,60,minutes,1,1,2019,21,6
27,December,21,2018,624,Fairmount Park,from,120,minutes,1,1,2019,21,6
28,December,21,2018,464,Washington,from,60,minutes,1,1,2019,21,6
29,December,21,2018,795,Leschi,from,120,minutes,1,1,2019,21,6
30,December,21,2018,456,Meany,from,60,minutes,1,1,2019,21,6
31,December,21,2018,327,Washington,from,60,minutes,1,1,2019,21,6
32,December,21,2018,130,Maple,from,120,minutes,1,1,2019,21,6
33,December,21,2018,36,Dearborn Park,from,120,minutes,1,1,2019,21,6
34,December,21,2018,213,Viewlands,from,120,minutes,1,1,2019,21,6
35,December,21,2018,79,John Hay,from,60,minutes,1,1,2019,21,6
36,December,21,2018,317,Meany,from,60,minutes,1,1,2019,21,6
37,December,21,2018,576,TOPS,from,20,minutes,1,1,2019,21,6

In [4]:
# find the row of the school_df with the schools that have late buses
late_schools = school_df.loc[school_df.get('School').isin(late_bus_select_df.get('School'))]
late_schools

,School,Type,Street Address,Zip Code,option_alt,latitude,longitude,geocode
2,Cleveland,high school,5511 15th Ave S,98108,option,-122.313525,47.552310,"{'address': '5511 15th Ave S, Seattle, Washing..."
26,Meany,middle school,301 21st Ave E,98112,N/A,-122.304763,47.621574,"{'address': '301 21st Ave E, Seattle, Washingt..."
40,TOPS,k-8,2500 Franklin Ave Eæ,98102,option,-122.324580,47.642351,"{'address': '2500 Franklin Ave E, Seattle, Was..."
42,Adams,elementary school,6110 28th Ave NW,98107,N/A,-122.392953,47.673247,"{'address': '6110 28th Ave NW, Seattle, Washin..."
53,Dearborn Park,elementary school,2820 S Orcas St,98108,N/A,-122.295613,47.550880,"{'address': '2820 S Orcas St, Seattle, Washing..."
57,Fairmount Park,elementary school,3800 SW Findlay St,98126,N/A,-122.380323,47.552034,"{'address': '3800 SW Findlay St, Seattle, Wash..."
65,John Hay,elementary school,201 Garfield St,98109,N/A,-122.351791,47.633114,"{'address': '201 Garfield St, Seattle, Washing..."
67,Kimball,elementary school,3200 23rd Ave S,98144,N/A,-122.303323,47.574054,"{'address': '3200 23rd Ave S, Seattle, Washing..."
72,Leschi,elementary school,135 32nd Ave,98122,N/A,-122.291351,47.602152,"{'address': '135 32nd Ave, Seattle, Washington..."
74,Loyal Heights,elementary school,7735 25th Ave NW,98117,N/A,-122.388802,47.685623,"{'address': '7735 25th Ave NW, Seattle, Washin..."
78,Maple,elementary school,4925 Corson Ave S,98108,N/A,-122.318251,47.557655,"{'address': '4925 Corson Ave S, Seattle, Washi..."
85,Northgate,elementary school,11725 1st Ave NE,98125,N/A,-122.328841,47.714841,"{'address': '11725 1st Ave NE, Seattle, Washin..."
88,Queen Anne,elementary school,520 NE Ravenna Blvd,98155,option,-122.322877,47.677019,"{'address': '520 NE Ravenna Blvd, Seattle, Was..."
100,Viewlands,elementary school,10525 3rd Ave NW,98177,N/A,-122.360841,47.705967,"{'address': '10525 3rd Ave NW, Seattle, Washin..."

In [5]:
# calculate the total bus late time for each school
total_rows = int(late_schools.size/8)

late_time = (total_rows)*[0]
i = 0

for index_schools, row_schools in late_schools.iterrows():
    for index_buses, row_buses in late_bus_select_df.iterrows():
        if row_schools['School'] == row_buses['School']:
            #print(row_schools['School'],row_buses['School'])
            late_time[i] += row_buses['Time']
    i+=1
    #print(late_time)
    
late_schools['Late Time'] = late_time
late_schools

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

,School,Type,Street Address,Zip Code,option_alt,latitude,longitude,geocode,Late Time
2,Cleveland,high school,5511 15th Ave S,98108,option,-122.313525,47.552310,"{'address': '5511 15th Ave S, Seattle, Washing...",60
26,Meany,middle school,301 21st Ave E,98112,N/A,-122.304763,47.621574,"{'address': '301 21st Ave E, Seattle, Washingt...",120
40,TOPS,k-8,2500 Franklin Ave Eæ,98102,option,-122.324580,47.642351,"{'address': '2500 Franklin Ave E, Seattle, Was...",20
42,Adams,elementary school,6110 28th Ave NW,98107,N/A,-122.392953,47.673247,"{'address': '6110 28th Ave NW, Seattle, Washin...",20
53,Dearborn Park,elementary school,2820 S Orcas St,98108,N/A,-122.295613,47.550880,"{'address': '2820 S Orcas St, Seattle, Washing...",120
57,Fairmount Park,elementary school,3800 SW Findlay St,98126,N/A,-122.380323,47.552034,"{'address': '3800 SW Findlay St, Seattle, Wash...",120
65,John Hay,elementary school,201 Garfield St,98109,N/A,-122.351791,47.633114,"{'address': '201 Garfield St, Seattle, Washing...",60
67,Kimball,elementary school,3200 23rd Ave S,98144,N/A,-122.303323,47.574054,"{'address': '3200 23rd Ave S, Seattle, Washing...",120
72,Leschi,elementary school,135 32nd Ave,98122,N/A,-122.291351,47.602152,"{'address': '135 32nd Ave, Seattle, Washington...",120
74,Loyal Heights,elementary school,7735 25th Ave NW,98117,N/A,-122.388802,47.685623,"{'address': '7735 25th Ave NW, Seattle, Washin...",20
78,Maple,elementary school,4925 Corson Ave S,98108,N/A,-122.318251,47.557655,"{'address': '4925 Corson Ave S, Seattle, Washi...",120
85,Northgate,elementary school,11725 1st Ave NE,98125,N/A,-122.328841,47.714841,"{'address': '11725 1st Ave NE, Seattle, Washin...",10
88,Queen Anne,elementary school,520 NE Ravenna Blvd,98155,option,-122.322877,47.677019,"{'address': '520 NE Ravenna Blvd, Seattle, Was...",20
100,Viewlands,elementary school,10525 3rd Ave NW,98177,N/A,-122.360841,47.705967,"{'address': '10525 3rd Ave NW, Seattle, Washin...",120

In [6]:
#from arcgis.geocoding import geocoding
my_gis = GIS()
seattle_bus_map = my_gis.map("Seattle, WA")

geocodes = late_schools['geocode']
name = list(late_schools['School'])
late_time = list(late_schools['Late Time'])

#print(late_time)
i = 0
for school in geocodes:
    max_d = 8
    d = (max_d*(late_time[i]+30))/120
    seattle_bus_map.draw(school['location'], {"title" : name[i], "content" : school['address']},
                     {"type": "esriSMS","style": "esriSMSCircle","color": [255,0,125,255],
                      "size": d,
                      "angle": 0,"xoffset": 0,"yoffset": 0,
                      "outline": {"color": [0,0,0,255],"width": 1}})

    i+=1
       
seattle_bus_map

MapView(layout=Layout(height='400px', width='100%'))